body {
  color:#f8f9fa !important;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

#contact {
  background:#f8f9fa96;
  padding:25px;
  margin:50px 0;
}

#contact h1{
  color: #2f2b61;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  margin-left: 125px;
}

.table {
  width: 95% !important; 
  color: #e9ecef !important;
  margin: auto;
}

.table-bordered {
  border: 1px solid #e9ecef;
}

.container {
  display: flex;
}

table th, table td {
  padding: 5px 15px; /* Adjust the space between table columns with padding */
}

.table-container {
  flex: 1;
  padding: 10px;
}

.chart-container {
  flex: 1;
  padding: 10px;
}

.chart-container canvas {
  width: 350px; 
  height: 350px;
}

